.circle-pink {
    padding: 40px 25px 50px;
    border: solid 1px rgb(233, 137, 212);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}

/* custom.css - 将 MySource 中的字体仅应用到文章内容 */
@font-face {
    font-family: 'SourceHanSerifSC_PUA';
    src: url('/MySource/fonts/SourceHanSerifSC_PUA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: "Billequin";
    src: url('/MySource/fonts/Billequin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 导入文津宋体的CSS文件 */
@import url('https://fontsapi.zeoseven.com/376/main/result.css');
@import url('https://fontsapi.zeoseven.com/376/p2/result.css');
@import url('https://fontsapi.zeoseven.com/376/p3/result.css');

/* 将表格填充改为全白, 用多个后代选择器堆权重，不粗暴使用!important */
.post-md table tr:nth-child(n) td{
    background: #fff;
}

